.sobre-article{
    color: #00F7FF;
    padding: 20px;
    height: min-content;
}

.section-title{
    margin-bottom: 22px;
}

.tempo-container{
    margin-top: 10px;
    place-items: center;
} 
.sobre-container p{
    max-width: 800px;
    line-height: 25px;
}
.sobre-container{
    place-items: center;
    margin-bottom: 40px;
}

.linha-container{
    margin-top: 30px;
    max-width: 500px;
    display: grid;
    grid-auto-columns: 80%;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    overflow-y: hidden;
    padding-bottom: 20px;
}
.linha-container .linha{
    background-color: #0F969C;
    height: 5px;
    max-width: inherit;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    margin-bottom: 24px;
    z-index: -1;
}
.esfera{
    background-color: #0F969C;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.mini-esfera{
    background-color: #0F969C;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.tempo, .tempoPequeno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Prompt, "Arial";
    cursor: help;
}

.tempoPequeno{
    top: -22px;
    font-size: 0.8rem;
    color: #0F969C;
}
.tempoPequeno:hover{
    color: #00F7FF;
}